<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Resqube_ensamblaje">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0077226 2.2038E-05 0.039426"
        rpy="0 0 0" />
      <mass
        value="0.18039" />
      <inertia
        ixx="0.00029984"
        ixy="5.4554E-08"
        ixz="3.0558E-05"
        iyy="0.00023582"
        iyz="-1.1356E-07"
        izz="0.00035246" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Resqube_ensamblaje/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Resqube_ensamblaje/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rueda_der_Link">
    <inertial>
      <origin
        xyz="3.8164E-17 -6.9389E-18 -0.009453"
        rpy="0 0 0" />
      <mass
        value="0.014718" />
      <inertia
        ixx="1.3755E-06"
        ixy="-1.0588E-22"
        ixz="-4.412E-23"
        iyy="1.3755E-06"
        iyz="2.7363E-23"
        izz="1.6697E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Resqube_ensamblaje/meshes/rueda_der_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Resqube_ensamblaje/meshes/rueda_der_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rueda_der_joint"
    type="continuous">
    <origin
      xyz="-0.038712 -0.05 0.0073"
      rpy="1.5708 -0.59492 0" />
    <parent
      link="base_link" />
    <child
      link="rueda_der_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="rueda_izq_Link">
    <inertial>
      <origin
        xyz="1.3878E-17 -2.6021E-17 -0.010547"
        rpy="0 0 0" />
      <mass
        value="0.014718" />
      <inertia
        ixx="1.3755E-06"
        ixy="0"
        ixz="1.0421E-22"
        iyy="1.3755E-06"
        iyz="-1.2799E-22"
        izz="1.6697E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Resqube_ensamblaje/meshes/rueda_izq_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Resqube_ensamblaje/meshes/rueda_izq_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rueda_izq_joint"
    type="continuous">
    <origin
      xyz="-0.038712 0.031 0.0073"
      rpy="1.5708 1.3691 0" />
    <parent
      link="base_link" />
    <child
      link="rueda_izq_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
</robot>